//Body variables
$bg-color:rgb(226, 184, 184);
//Buttons variables
$playBorderColor: rgb(12, 116, 12);
$playBackgroundColor: rgb(118, 233, 118);
$stopBorderColor: rgb(138, 24, 24);
$stopBackgroundColor: rgb(248, 152, 152);
$resetBorderColor: rgb(9, 76, 138);
$resetBackgroundColor: rgb(80, 199, 235);
//Config variables
$restSliderThumbBg: rgb(0, 153, 255);
$restSliderThumbBgActive:rgb(1, 73, 121);
$restSliderTrackBg:rgb(1, 73, 121);
$pomodoroSliderThumbBg: rgb(230, 33, 33);
$pomodoroSliderThumbBgActive:rgb(95, 6, 6);
$pomodoroSliderTrackBg:rgba(95, 6, 6, 0.3);
//Display variables
$transitionTime: 2000ms;