@import "../../../components/sassVariables/variables";
.options {
    margin: 0 auto;
    margin-top: 5%;
    width: 50%;
    & h1 {
        font-size: 150%;
        letter-spacing: 3px;
    }
    & .slider-pomodoro {
        height: 40px;
        border: 2px solid $pomodoroSliderThumbBg;
        border-radius: 20px;
        & .thumb {
            background-color: $pomodoroSliderThumbBg;
            border: 5px solid $pomodoroSliderThumbBgActive;
            margin: -5px 0px;
            cursor: pointer;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            &:active {
                background-color: $pomodoroSliderThumbBgActive;
                border: 5px solid $pomodoroSliderThumbBg;
            }
        }
        & .track {
            opacity: 0.2;
            background-color: $pomodoroSliderTrackBg;
            height: 40px;
            border-radius: 20px;
        }
    }
    & .slider-rest {
        height: 40px;
        border-radius: 20px;
        & .thumb {
            margin: -5px 0px;
            cursor: pointer;
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
        & .track {
            opacity: 0.2;
            height: 40px;
            border-radius: 20px;
        }
        &.short {
            border: 2px solid $shortRestSliderThumbBg;
            & .thumb {
                background-color: $shortRestSliderThumbBg;
                border: 5px solid $shortRestSliderThumbBgActive;
                &:active {
                    background-color: $shortRestSliderThumbBgActive;
                    border: 5px solid $shortRestSliderThumbBg;
                }
            }
            & .track {
                background-color: $shortRestSliderTrackBg;
            }
        }
        &.long {
            border: 2px solid $longRestSliderThumbBg;
            & .thumb {
                background-color: $longRestSliderThumbBg;
                border: 5px solid $longRestSliderThumbBgActive;
                &:active {
                    background-color: $longRestSliderThumbBgActive;
                    border: 5px solid $longRestSliderThumbBg;
                }
            }
            & .track {
                background-color: $longRestSliderTrackBg;
            }
        }
    }
    & .options-label {
        display: block;
        margin-bottom: 15px;
        margin-top: 50px;
        font-size: 130%;
        //background-color: aqua;
    }
}