@import "../sassVariables/variables";
.btn-box {
    display: inline-block;
    margin: 0 auto;
    button.btn {
        margin: 0 15px;
        border-radius: 50%;
        padding: 15px;
        border: 5px solid;
        &.start {
            border-color: $playBorderColor;
            color: $playBorderColor;
            background-color: $playBackgroundColor;
            &:hover {
                border-color: $playBackgroundColor;
                color: $playBackgroundColor;
                background-color: $playBorderColor;
            }
        }
        &.pause {
            border-color: $stopBorderColor;
            color: $stopBorderColor;
            background-color: $stopBackgroundColor;
            &:hover {
                border-color: $stopBackgroundColor;
                color: $stopBackgroundColor;
                background-color: $stopBorderColor;
            }
        }
        &.reset {
            border-color: $resetBorderColor;
            color: $resetBorderColor;
            background-color: $resetBackgroundColor;
            &:hover {
                border-color: $resetBackgroundColor;
                color: $resetBackgroundColor;
                background-color: $resetBorderColor;
            }
        }
    }
}