@import "../sassVariables/variables";
.Navbar {
    list-style-type: none;
    display: inline-block;
    border-radius: 5px;
    margin: 0px 25px 0 0;
    padding: 0x;
    &.Work {
        background-color: $pomodoroButtonBg;
        transition: all 500ms;
        &.active {
            background-color: $pomodoroButtonBgActive;
            box-shadow: -3px -3px 3px;
        }
        &:hover {
            background-color: $pomodoroButtonBgActive;
            border-radius: 5px;
            box-shadow: -3px -3px 3px;
            cursor: pointer;
            transition: all 500ms;
        }
    }
    &.Long {
        background-color: $longRestButtonBg;
        transition: all 500ms;
        &.active {
            background-color: $longRestButtonBgActive;
            border-radius: 5px;
            box-shadow: -3px -3px 3px;
        }
        &:hover {
            background-color: $longRestButtonBgActive;
            border-radius: 5px;
            box-shadow: -3px -3px 3px;
            cursor: pointer;
            transition: all 500ms;
        }
    }
    &.Short {
        background-color: $shortRestButtonBg;
        transition: all 500ms;
        &.active {
            background-color: $shortRestButtonBgActive;
            border-radius: 5px;
            box-shadow: -3px -3px 3px;
        }
        &:hover {
            background-color: $shortRestButtonBgActive;
            border-radius: 5px;
            box-shadow: -3px -3px 3px;
            cursor: pointer;
            transition: all 500ms;
        }
    }
}

button.navbar-button {
    font-size: 80%;
    padding: 10px 15px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}