@import '../sassVariables/variables';
.display-circular {
    width: 200px;
    border-radius: 50%;
    font-size: 70%;
    box-shadow: -15px -5px 15px rgb(75, 75, 75), inset -23px -13px 23px rgb(75, 75, 75);
    text-shadow: -5px -5px 5px rgb(75, 75, 75);
    &.pomodoro {
        //box-shadow: -15px -5px 15px rgb(75, 75, 75), inset -23px -13px 23px rgb(75, 75, 75);
        //text-shadow: -5px -5px 5px rgb(75, 75, 75);
        transition: all $transitionTime;
        .CircularProgressbar-path {
            stroke: $workPathColor;
            transition: stroke $transitionTime;
        }
        .CircularProgressbar-trail {
            stroke: rgba(99, 99, 99, 0.3);
            text-shadow: 2px 2px 2px;
        }
        .CircularProgressbar-text {
            fill: $workTextColor;
            transition: fill $transitionTime;
        }
    }
    &.short-rest {
        //box-shadow: 15px 5px 15px rgb(75, 75, 75), inset 23px 3px 23px rgb(75, 75, 75);
        //text-shadow: 5px 5px 5px rgb(75, 75, 75);
        transition: all $transitionTime;
        .CircularProgressbar-path {
            stroke: $shortResPathColor;
            transition: stroke $transitionTime;
        }
        .CircularProgressbar-trail {
            stroke: rgba(99, 99, 99, 0.3);
        }
        .CircularProgressbar-text {
            fill: $shortResTextColor;
            transition: fill $transitionTime;
        }
    }
    &.long-rest {
        //box-shadow: 15px 5px 15px rgb(75, 75, 75), inset 23px 3px 23px rgb(75, 75, 75);
        //text-shadow: 5px 5px 5px rgb(75, 75, 75);
        transition: all $transitionTime;
        .CircularProgressbar-path {
            stroke: $longResPathColor;
            transition: stroke $transitionTime;
        }
        .CircularProgressbar-trail {
            stroke: rgba(99, 99, 99, 0.3);
        }
        .CircularProgressbar-text {
            fill: $longResTextColor;
            transition: fill $transitionTime;
        }
    }
}