@import "./components/sassVariables/variables";
@font-face {
    font-family: 'upheavtt';
    src: url('./fonts/upheavtt.ttf');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'upheavtt', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 150%;
    background-color: $bg-color;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}